html, body {max-width: 1200px;margin: 0 auto;padding: 0 20px;font-size: 12px;scroll-behavior: smooth;}

input[type=text], input[type=number] {width: 150px;height: 30px;margin: 0;margin-right: 5px;padding: 0 5px;border-radius: 5px;border: 1px solid #c5ccd6;box-sizing: border-box;}
input[type=radio] {margin-top: 0;}
table td, table th {padding: 5px;}
table th {background-color: #eff2f8;}

.toolbar {padding: 20px 0;}
.toolbar table td, table th {cursor: pointer;}
.toolbar table {table-layout: fixed;width: 100%;border-top: 1px solid #5a6375;border-collapse: collapse;}
/* .toolbar table th {background-color: #eff2f8;} */
.toolbar textarea {width: 100%;box-sizing: border-box;}
.toolbar fieldset {display: flex;align-items:center;margin: 0 0 10px;padding: 0;border: 0;font-size: 12px;}
.toolbar table + .btn-container {margin-top: 20px;}

.btn-container {display: flex;align-items: center;justify-content: center;}
button {width: 60px;height: 30px;padding: 5px 0;border-radius: 10px;border: 0;color: #fff; cursor: pointer;}
button + button {margin-left: 10px;}
button.init {background-color: #323334;}
button.action {background-color: #0061f2;}
button.re-action {background-color: #ff8500;}
button.part-change {background-color: #00c811;}
button.copy {background-color: #d03030;}
button.add {width: 50px;background-color: #0061f2;}

.box {display: grid;grid-template-columns: minmax(500px, 1fr) 1fr;justify-items: center;font-size: 12px;}
.box table tr {position: relative;counter-increment: items;}
.box table tr td:first-child::before {content: counter(items) '. ';position: absolute;left: -30px;display: flex;background-color: #ff9a15;}
.box table tr th:first-child::before {content: counter(items) '. ';position: absolute;left: -30px;display: flex;background-color: #ff9a15;}
.box table td, .box table th {border-bottom: 1px solid #c5ccd6;border-right: 1px solid #c5ccd6;font-weight: 400;cursor: pointer;user-select: none;}
.box .target {background-color: #14ff00;}

.target-detail-popup {position: absolute;top: 0;left: 0;display:none;width: 350px;border: 1px solid #5a6375;background-color: #fff;}
.target-detail-popup.show {display: block;}
.target-detail-popup table {width: 100%;}
.target-detail-popup textarea {width: 100%;box-sizing: border-box;resize: none;}
.target-detail-popup .btn-container {margin: 0 5px 5px 0;}
.target-detail-popup .close {position: absolute; top: 5px; right: 5px;width: auto;height: auto;padding: 0;color: black;background: transparent;font-size: 16px;}

.part-change-popup {position: fixed;top: 50%;left: 50%;transform: translate(-50%, -50%);display: none;padding: 20px;border: 1px solid black;background-color: #fff;}
.part-change-popup.show {display: block;}
.part-change-popup .close {position: absolute; top: 5px; right: 5px;width: auto;height: auto;padding: 0;color: black;background: transparent;font-size: 16px;}

.multi-selected {background-color: #ffeb3b;}
.merge-selected {background-color: #9c27b0 !important;color: white !important;}
